/* 
    Document   : login
    Created on : 28/08/2013, 06:24:20 PM
    Author     : mateo
    Description:
        Purpose of the stylesheet follows.
*/

#root { 
     position:absolute;
     top:5%;/*eje y*/
     left:4%;/*eje x*/
     height:100%;
     width:100%; 
}
.cuerpo{
    background-color: #0b3e6f;
    border:0px solid #0b3e6f;background:#0b3e6f url("../img/dia1.png") 50% 50% repeat;color:#ffffff;font-weight:bold;
}
#login{
     margin: 5% 0px 0px 0px;
     width: 95%;
     height: 100%;
}
#contenido{
     border:0px solid #0b3e6f;background:#0b3e6f url("../img/ima.png") 50% 50% repeat;color:#0b3e6f;font-weight:bold;
}

